/* Asegurar que el contenedor del mapa y el título estén centrados */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Color retro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor para centrar el contenido */
.container {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    padding: 20px;
    text-align: center;
    flex-grow: 0; /* Permitir que el contenedor crezca */
}

/* Estilos del mapa */
#map {
    height: 400px; /* Ajusta la altura según tus necesidades */
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    position: relative;
    z-index: 1; /* Asegura que el mapa tenga un z-index menor */
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999; /* Asegura que el modal tenga un z-index mayor */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    padding-bottom: 50px; /* Añadir espacio en la parte inferior para el efecto Polaroid */
}

.modal-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 10px solid white; /* Borde blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el borde Polaroid */
.polaroid-frame {
    border: 1px solid white;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 50px; /* Espacio adicional en la parte inferior */
}

/* Estilo para la fecha del marcador */
.marker-date {
    font-size: 12px;
    font-family: 'Patrick Hand', cursive; /* Fuente manuscrita */
    color: #555;
    margin-bottom: 5px;
    text-align: center;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%; /* Ancho en dispositivos móviles */
        padding: 10px; /* Reducir el padding en dispositivos móviles */
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.delete-marker-btn,
.edit-marker-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-marker-btn {
    color: #0066ff;
}

.delete-marker-btn {
    color: #ff0000;
}

.delete-marker-btn:hover {
    color: #ff6666;
}

.edit-marker-btn:hover {
    color: #3399ff;
}

.form-spacing {
    margin-bottom: 20px;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; /* Agregar espacio por encima de la sección de imagen */
}

.drop-area.dragover {
    border-color: #333;
    background-color: #f9f9f9;
}

.drag-confirmation {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.drop-area.dragover .drag-confirmation {
    display: block;
}

/* Título centrado */
.title {
    text-align: center;
    font-family: 'Verdana', sans-serif; /* Cambia la fuente del título aquí */
    margin-bottom: 20px; /* Espacio debajo del título */
}
